
.hover__shadow{
    transition: all 0.2s ease;
    will-change: transform, box-shadow;
    &:hover{
        transform: translateY(-10px) scale(1.02);
        box-shadow:0 10px 10px rgba(0, 0, 0, 0.082),0 6px 6px rgba(0, 0, 0, 0.10);
      
    }
}

.btn__effect{
    transition: all 0.25s ease;
    animation-delay: 0.25s;
    &:hover{
        background-color: rgba(239, 239, 239, 0.289);
    }
}

.semi__link{
    transition: all 0.25 ease-in-out;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}

.link__affect{
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover{
        color: #1854d6e9;
    }
}

.loading-dots::after {
  content: "";
  display: inline-block;
  width: 1.2em;
  text-align: left;
  transition: all 0.4s ease;
  animation: dots 1.5s steps(3, end) infinite;
}

@keyframes dots {
  0%   { content: ""; }
  33%  { content: "."; }
  66%  { content: ".."; }
  100% { content: "..."; }
}


.appear__normal{
    transition: all 0.25s ease;
    animation: appear 0.5s 1 ease forwards;
    @keyframes appear {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
        
    }
}

.water__hover__effect{
    overflow: hidden;
    transition: all 0.2s ease;
     &:hover {
        &::before {
            animation: waterEffect 0.6s 1 ease-out;
        }
    }

    &:focus{
        background-color: #c0c0c04c;
        outline: 2px solid #a9a9a94c;
        border: 1px solid white;

    }
    &:active{
        background-color: #d0d0d04c;
        transform: scale(0.99);
    }
    &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        border-radius: 50%;
        background: rgba(192, 192, 192, 0.452);
        transform: translate(-50%, -50%);
    }
}

.appear__side__left{
    transition: all 0.25s ease;
    animation: appear 0.7s 1 ease forwards;
    @keyframes appear {
        0%{
            opacity: 0;
            transform: translateX(-10px);
            width: 10%;
        }
        100%{
            opacity: 1;
            transform: translateX(0);
            width: 20%;
        }
        
    }
}


@keyframes waterEffect {
    0% {
        width: 0;
        height: 0;
        opacity: 0.5;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        width: 900px;
        height: 900px;
        opacity: 0;
    }
}


.hover-image-wrapper {
  position: relative;

  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
.hover-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.hover-image-wrapper:hover img {
  transform: scale(1.05);
}


