

.txt__s{
    font-size: 0.9rem;
}

.txt__sm{
    font-size: 0.8rem;
}

.txt__xs{
    font-size: 0.7rem;
}
.txt__xxs{
    font-size: 0.6rem;
}


.truncate-2 {
  display: -webkit-box;  
  -webkit-line-clamp: 2;       
  -webkit-box-orient: vertical;
  overflow: hidden;            
  text-overflow: ellipsis;    
}

.truncate-8 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
  text-overflow: ellipsis;
}


